

body {
    
    background: #fff
    font: 12pt Arial, Helvetica, sans-serif;
    width: 21cm;
    min-height: 29.7cm;
    padding: 1cm;
    margin: 2cm 1cm auto;
   
}

#container{
    width: 750px;
    margin: 0 auto;
    border: 2px solid red;
   
}


#topo{
    height: 250px;
    width: 750px;
    background:  url(../imagens/logoGetulio.jpg) no-repeat right top;
    border: 2px solid red;
}
.texto-cabecalho{
    font-weight: bold;
    line-height: 0.4;
    text-align: right;
    width: 6.92cm;
    height: 100px;
    float: left;
    
  
}

#titulo {
    text-align: center;
}


#tabela-cabecalho {
    text-align: right;
    background-color: antiquewhite;
    
    
}


#pergunta {
    width: 250px;
    text-align: right;
    border: 1px solid blue;
    float: left;
    line-height: 0.4;
    font-weight: bold;
    margin-right: 0.8px;
margin-left: 90px;

}

#resposta {
    width: 400px;
    text-align: left;
    padding-left: 20px;
    float: left;
    line-height: 0.4;
    border: 1px solid blue;
    

}

p {
    border-top-width: 3px;
    font-size: 16pt;
    text-align: justify;
}

li {
    font-size: 14pt;
    text-align: justify;
}

.slide-logo {
  position: relative;
  top: 15px;
  
  height: 40px;
  width: 90px;
  
}


.logo {
   
  width: 300px;
}
