<style>


@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700,400italic,700italic);
/**
 * 
 */
html * {
  color-profile: sRGB;
  rendering-intent: auto; }

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #ADD8E6;
   }


.reveal section h1 {
  color: #000099;
}

.reveal section h2 {
  color: #990000;
}

.texto p {
  text-align: justify;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
}

.posicao h1{
  margin-top: 20%;

}

.sourceCode{
  
  background-color: #f2f2f2;
  margin-right: 20px;
}

code.r{
  font-size: 20px;
}

/********** Customise logo, and footer disclaimer **********/
/* Position the corporate logo in the top right of the page */
#header-footer .slide-logo {
  position: absolute;
  top: 15px;
  right: 30px;
  height: 40px;
  width: 90px;
}

.slide-logo2 {
   position: relative;
   margin-left: 10px;
  top: 15px;
   width: 70px;
   border-radius: 10px;
}

/* Style/position the footer text */
#header-footer .slide-footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    text-align: center;
    
    
}

.logo {
   
  width: 300px;
  margin-left: auto;
  margin-right: auto;


}

span.small {
  text-align: center;
}

p, li{
  text-align: justify;
}

p.exercicios {
   
 color: red;
}

p.fonte{
  font-size: 10px;
  text-align: center;

}



</style>